body{

    background-color:blanchedalmond;
}
p{
    font-size: 2rem;
    text-align: justify;
}

    
}
h1{
    font-size: 4rem;
    color: rgb(52, 52, 80);
    text-align: center;
}
a{
    font-size: 2rem;
    display: block;
    text-align: center;
}
h2{
    text-align: center;
    font-size: 3rem;
}

ul{
    text-align: center;
    font-size: 2.5rem;
}

li{
    font-size: 2.5rem;
    list-style: none;
    align-self: start;
}
table{
    margin: auto;
}
thead, tfoot{
    background-color: #023040;
    color: rgb(255, 255, 255);
  }
  
  tbody > tr:nth-child(even){
    background-color: #8ecae6;
  }
  
  table{
    border: 2px solid black;
    border-collapse:separate;
  }
  
  th{
    border: 2px solid #023040;
  }
  
  td{
    border: 2px solid #023040;
    width: 150px;
  }
  
  caption{
    caption-side: top;
  }